.user-info-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 4px;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1;
}

.user-info-button ~ input:checked ~ .user-info {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.user-info {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url('/src/assets/images/yoga.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
}
